@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div style="border: 1px solid lightgray">
    <div style="margin: 20px; border-radius: 0; color: white; background-color: #675BA7" class="jumbotron">
        <h1 class="display-4">@Environment.MachineName</h1>
        <p class="lead">This is a simple ASP.NET Core Web Application that returns the name, the one above, of the host running the App or wait is this running in a Container..?</p>
        <hr class="my-4" style="background-color: white">
        <p class="lead">Powered by Microsoft Azure Kubernetes Service and .NET Core</p>
        <p><b>Joke of the Day</b>: There's a band called 1023MB. They haven't had any 'Gigs' yet...</p>
        <p><b>Application Version</b>: 1.0</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>